body {
    visibility: visible;
    opacity: 1;
    overflow-x: hidden;
}

.l-page-wrapper {
    min-height: 100vh;
}

.l-page-header {
    background: $light-gray;
    padding: rem(8 16);
}

.l-page-content {
    margin: 0 auto;
}

.l-page-footer {
    background: $light-gray;
    padding: rem(8 16);
}
