@charset "UTF-8";
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@-ms-viewport{
    width: device-width;
}

// import modnern-normalize (https://github.com/sindresorhus/modern-normalize)
@import 'node_modules/modern-normalize/modern-normalize';

// import foundation settins and scss
@import '../../node_modules/foundation-sites/scss/util/util';
@import 'functions';
@import 'settings';
@import '../../node_modules/foundation-sites/scss/foundation';

// Foundation Feature Includes
@include foundation-global-styles;
@include foundation-xy-grid-classes(
    // include only those you need...
    $base-grid: true,
    $margin-grid: true,
    $padding-grid: true,
    $block-grid: false,
    $collapse: false,
    $offset: true,
    $vertical-grid: false,
    $frame-grid: false
);
@include foundation-typography;
@include foundation-visibility-classes;
@include foundation-flex-classes;

// Local Imports
@import 'lazyload';
@import 'layout';
@import 'typography';
@import 'buttons';

// Components
@import 'components/EXAMPLE';

// Overrides - should be loaded last
@import 'print';
@import 'utils';
