.contentblocks-field-heading {
  overflow: hidden;

  .contentblocks-field-heading-level {
    width: 25%;
    float: left;
    padding-right: 3%;
  }
  .contentblocks-field-heading-input {
    width: 75%;
    float: left;
  }
}
