.contentblocks-field-link-input, .contentblocks-setting-link {
  overflow: visible;
  position: relative;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  input[type=text], textarea, select, span.twitter-typeahead {
    float: none;
    width: 100%;
  }
  span.twitter-typeahead {
    float: none;
  }
  
  .contentblocks-field-link-displaytext {
    position: absolute;
    white-space: pre;
    overflow: hidden;
    top: 1px;
    left: 1px;
    right: 25px;
    bottom: 1px;
    padding: 8px;
    background: #fff;
    z-index: 1;
    color: #999;
  }
  
 .typeahead {
    background-color: #fff;
  }
  
  .tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  
  .tt-hint {
    color: #999
  }
  
  .tt-menu {
    margin-top: 0px;
    margin-left: 0px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    right: 0 !important;
    -webkit-border-radius: 0 0 2px 2px;
       -moz-border-radius: 0 0 2px 2px;
            border-radius: 0 0 2px 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
    #contentblocks-modal & {
      position: static !important; // push down other modal fields so that we don't have to worry about breaking out of modal windows
    }
  }
  
  .tt-dataset {
    max-height: 250px;
    overflow-x: none;
    overflow-y: auto;
  }
  
  .tt-suggestion {
    padding: 3px 20px;
    font-size: 12px;
    line-height: 16px;
  }
  
  .tt-suggestion.tt-cursor,
  .tt-suggestion:hover {
    color: #fff;
    background-color: #0097cf;
    text-shadow: none;
    cursor: pointer;
  }
  
  .tt-suggestion p {
    margin: 0;
  }
  
  /* example specific styles */
  /* ----------------------- */
  
  .twitter-typeahead .tt-suggestion {
    padding: 8px 20px;
  }
  
  .twitter-typeahead .tt-suggestion + .tt-suggestion {
    border-top: 1px solid #ccc;
  }
  
  .twitter-typeahead .resource-id {
    float: right;
    font-style: italic;
  }
  
  .twitter-typeahead .resource-name {
    font-weight: bold;
  }

  .twitter-typeahead .resource-crumbs {
    font-size: 0.8em;
  }
}


input.linkfield {
  padding-right: 25px;
  & + span {
    position: absolute;
    top: .65em;
    right: 10px;
  }
}

input[data-link-type] + span:before {
  content: "\f016";
  font-family: FontAwesome;
}

input[data-link-type=link] + span:before {
  content: "\f0ac";
}

input[data-link-type=email] + span:before {
  content: "\f003";
}
