.contentblocks-field-quote {
  .contentblocks-field-quote-cite {
    padding-top: 3px;
    label {
      padding: 8px 15px 0 0;
      width: 40%;
      float: left;
      text-align: right;
    }
    input {
      margin-left: 40%;
      width: 60%;
    }
  }
}
