
.contentblocks-crop-configuration {
  .crop-radio {
    position: absolute;
    left: -9999px;

    &:checked + .contentblocks-crop-preview {
      box-shadow: 0 0 10px 0 $highlightBlue;
      border: 1px solid $highlightBlue;
      transform: scale(1);
    }
  }
  .contentblocks-crop-preview {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;
    position: relative;
    display: block;
    margin-bottom: 1em;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    transform: scale(0.9);
    transition: all 0.3s;
    img {
      background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC") repeat;
      display: block;
      object-fit: contain;
      width: 100%;
      min-height: 125px;
      max-height: 200px;
    }
    p {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(255,255,255, 0.7);
      padding: 0.5em 0.67em;
    }
  }
}
#contentblocks-image-cropper-advanced-toggle {
  position: absolute;
  left: -9999px;
  &:checked {
    + h3 {
      border-bottom: 1px solid #ccc;
    }
    + h3 label {
      &:after {
        transform: rotate(180deg);
        margin-top: -0.7em;
      }
    }
    + h3 + .contentblocks-image-cropper-advanced {
      display: block;
    }
  }
  + h3 {
    position: relative;
  }
  + h3 label {
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 1em;
      border-left: 0.5em solid transparent;
      border-right: 0.5em solid transparent;
      border-top: 0.5em solid #ccc;
      clear: both;
      margin-left: 0.5em;
      transition: all 0.3s;
      margin-top: 0.3em;
    }
  }
  + h3 + .contentblocks-image-cropper-advanced {
    display: none;
  }
}
.cropper-crop-form-field {
  display: flex;
  padding-bottom: 0.5em;
  label, input {
    flex: 1;
    align-self: center;
  }
  input {
    line-height: 1em;
    padding: 8px;
    border-radius: 2px;
    display: inline-block;
    background-color: #fbfbfb;
    border: 1px solid #CCC;
    transition: border-color 0.25s;
    width: 100%;

    &:focus {
      border-color: $highlightBlue;
    }
  }
}

.contentblocks-image-cropper {
  overflow: hidden;
  margin: -15px;
}
.contentblocks-image-cropper-crops {
  width: 20%;
  float: left;
  padding: 15px;
  background-color: $lightGray;
  border-right: 1px solid $lightGrayBorder;
  overflow-y: scroll;

  &.hidden {
    display: none;
  }

  &:not(.hidden) + .contentblocks-image-cropper-preview {
    width: 60%;

    + .contentblocks-image-cropper-options {
      width: 20%;
    }
  }
}
.contentblocks-image-cropper-preview {
  width: 70%;
  height: 100%;
  float: left;
  //padding: 15px;
  text-align: center;
  position: relative;
  img {
    max-width: 100%;
    max-height: 100%;
  }

  .contentblocks-crop-save {
    position: absolute;
    top: 1em;
    left: 1em;
    margin: 0 auto;
    z-index: 1;

    background: $highlightBlue;
    color: #FCFCFC;
    text-decoration: none;
    line-height: 2em;
    font-size: 1em;
    padding: 0.5em 1em;

    border: 1px solid darken($highlightBlue, 10%);
    border-radius: 5px;
    transition: border-color 0.25s;
    box-shadow: 0 0 15px #fff;

    &:hover, &:focus {
      background-color: darken($highlightBlue, 10%);
      border-color: darken($highlightBlue, 20%);
      color: #fff;
      cursor: pointer;
    }

  }
}
.contentblocks-image-cropper-options {
  width: 30%;
  float: left;
  height: 100%;
  background-color: $lightGray;
  border-left: 1px solid $lightGrayBorder;
  padding: 15px;
  overflow-y: scroll;

  h2 {
    margin-top: 0 !important;
  }
  h3 {
    text-transform: uppercase;
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
    margin-top: 1em;
  }
  p {
    line-height: 1.5em;
    padding-bottom: 0.5em;
  }
  .cropper-resize-image {
    input[type=number] {
      height: auto;
      width: 5.5em;
      line-height: 1em;
      padding: 8px;
      border-radius: 2px;
      display: inline-block;
      background-color: #fbfbfb;
      border: 1px solid #CCC;
      transition: border-color 0.25s;

      &:disabled {
        cursor: not-allowed;
      }

      &:focus {
        border-color: $highlightBlue;
      }
    }
    button[type=submit] {
      line-height: 3em;
      background-color: $highlightBlue;
      color: #fff;
      border-color: darken($highlightBlue, 10%);

      &:hover, &:focus {
        background-color: darken($highlightBlue, 10%);
        border-color: darken($highlightBlue, 20%);
      }
    }
  }
}
.contentblocks-modal-image-cropper .contentblocks-modal-content {
  overflow-y: hidden;
}

.cropper-ratios {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  li {
    flex: 1 0 33%;

    input {
      opacity: 0;
      position: absolute;
      left: -9999px;

      &:focus + label, &:checked + label {
        color: $highlightBlue;
        .cropper-ratio {
          border-color: $highlightBlue;
          border-width: 5px;
        }
      }
    }

    label {
      display: block;
      text-align: center;
      cursor: pointer;
      width: 4em;
      padding-bottom: 1em;
    }
  }
  .cropper-ratio {
    border: 2px solid #bbb;
  }
}
.cropper-crop-form {
  label {
    display: block;
    input {

    }
  }
}

/**

Stuff from cropper.js

 */
/*!
 * Cropper.js v1.2.2
 * https://github.com/fengyuanchen/cropperjs
 *
 * Copyright (c) 2015-2018 Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2018-01-03T13:26:29.610Z
 */

.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cropper-container img {/*Avoid margin top issue (Occur only when margin-top <= -height)
 */
  display: block;
  height: 100%;
  image-orientation: 0deg;
  max-height: none !important;
  max-width: none !important;
  min-height: 0 !important;
  min-width: 0 !important;
  width: 100%;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cropper-wrap-box,
.cropper-canvas {
  overflow: hidden;
}

.cropper-drag-box {
  background-color: #fff;
  opacity: 0;
}

.cropper-modal {
  background-color: #000;
  opacity: .5;
}

.cropper-view-box {
  display: block;
  height: 100%;
  outline-color: rgba(51, 153, 255, 0.75);
  outline: 1px solid #39f;
  overflow: hidden;
  width: 100%;
}

.cropper-dashed {
  border: 0 dashed #eee;
  display: block;
  opacity: .5;
  position: absolute;
}

.cropper-dashed.dashed-h {
  border-bottom-width: 1px;
  border-top-width: 1px;
  height: 33.33333%;
  left: 0;
  top: 33.33333%;
  width: 100%;
}

.cropper-dashed.dashed-v {
  border-left-width: 1px;
  border-right-width: 1px;
  height: 100%;
  left: 33.33333%;
  top: 0;
  width: 33.33333%;
}

.cropper-center {
  display: block;
  height: 0;
  left: 50%;
  opacity: .75;
  position: absolute;
  top: 50%;
  width: 0;
}

.cropper-center:before,
.cropper-center:after {
  background-color: #eee;
  content: ' ';
  display: block;
  position: absolute;
}

.cropper-center:before {
  height: 1px;
  left: -3px;
  top: 0;
  width: 7px;
}

.cropper-center:after {
  height: 7px;
  left: 0;
  top: -3px;
  width: 1px;
}

.cropper-face,
.cropper-line,
.cropper-point {
  display: block;
  height: 100%;
  opacity: .1;
  position: absolute;
  width: 100%;
}

.cropper-face {
  background-color: #fff;
  left: 0;
  top: 0;
}

.cropper-line {
  background-color: #39f;
}

.cropper-line.line-e {
  cursor: ew-resize;
  right: -3px;
  top: 0;
  width: 5px;
}

.cropper-line.line-n {
  cursor: ns-resize;
  height: 5px;
  left: 0;
  top: -3px;
}

.cropper-line.line-w {
  cursor: ew-resize;
  left: -3px;
  top: 0;
  width: 5px;
}

.cropper-line.line-s {
  bottom: -3px;
  cursor: ns-resize;
  height: 5px;
  left: 0;
}

.cropper-point {
  background-color: #39f;
  height: 5px;
  opacity: .75;
  width: 5px;
}

.cropper-point.point-e {
  cursor: ew-resize;
  margin-top: -3px;
  right: -3px;
  top: 50%;
}

.cropper-point.point-n {
  cursor: ns-resize;
  left: 50%;
  margin-left: -3px;
  top: -3px;
}

.cropper-point.point-w {
  cursor: ew-resize;
  left: -3px;
  margin-top: -3px;
  top: 50%;
}

.cropper-point.point-s {
  bottom: -3px;
  cursor: s-resize;
  left: 50%;
  margin-left: -3px;
}

.cropper-point.point-ne {
  cursor: nesw-resize;
  right: -3px;
  top: -3px;
}

.cropper-point.point-nw {
  cursor: nwse-resize;
  left: -3px;
  top: -3px;
}

.cropper-point.point-sw {
  bottom: -3px;
  cursor: nesw-resize;
  left: -3px;
}

.cropper-point.point-se {
  bottom: -3px;
  cursor: nwse-resize;
  height: 20px;
  opacity: 1;
  right: -3px;
  width: 20px;
}

@media (min-width: 768px) {
  .cropper-point.point-se {
    height: 15px;
    width: 15px;
  }
}

@media (min-width: 992px) {
  .cropper-point.point-se {
    height: 10px;
    width: 10px;
  }
}

@media (min-width: 1200px) {
  .cropper-point.point-se {
    height: 5px;
    opacity: .75;
    width: 5px;
  }
}

.cropper-point.point-se:before {
  background-color: #39f;
  bottom: -50%;
  content: ' ';
  display: block;
  height: 200%;
  opacity: 0;
  position: absolute;
  right: -50%;
  width: 200%;
}

.cropper-invisible {
  opacity: 0;
}

.cropper-bg {
  background: #fff;
  //background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}

.cropper-hide {
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.cropper-hidden {
  display: none !important;
}

.cropper-move {
  cursor: move;
}

.cropper-crop {
  cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
  cursor: not-allowed;
}
